.editorconfig
eslint.config.js
.eslintignore
.eslintrc.js
.eslintrc.cjs
.gitignore
.npmignore
.prettierignore
.prettierrc.json
tsconfig.json
updates.config.js
tsconfig.build.json
tsconfig.examples.json
typedoc.json
vite.config.ts
vitest.config.ts
*.md

node_modules
.github
.vscode
test.ts

/src
/binary
/test
/tests
/examples
/docs
/scripts